name: Build

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - release
    tags-ignore:
      - "*"
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Enable Nix Flakes
        uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Install devenv
        run: nix profile install --accept-flake-config nixpkgs#devenv

      - name: Build with devenv
        run: |
          devenv shell -- cargo build --release

      - name: Run tests
        run: |
          devenv shell -- cargo test

      - name: Run git hooks (formatting, clippy)
        run: |
          devenv test

      - name: Build with Nix
        run: nix build

      - name: Check Nix flake
        run: nix flake check
